services:
  postgrest:
    image: "postgrest/postgrest:v12.2.3"
    environment:
      # connect to hydra database-csv
      - PGRST_DB_URI=postgres://csvapi:csvapi@postgres-test:5432/csvapi
      - p=http://127.0.0.1:8080
      - PGRST_SERVER_PORT=8080
      - PGRST_DB_ANON_ROLE=csvapi
      - PGRST_DB_SCHEMA=csvapi
      - PGRST_DB_AGGREGATES_ENABLED=true
    ports:
      - 8080:8080
    depends_on:
      - postgres-test
  postgres-test:
    image: "postgres:14"
    volumes:
      - ./db/initdb/:/docker-entrypoint-initdb.d/
      - ./db/sample.csv:/tmp/sample.csv
      - ./db/exceptions.csv:/tmp/exceptions.csv
    environment:
      - POSTGRES_DB=csvapi
      - POSTGRES_USER=csvapi
      - POSTGRES_PASSWORD=csvapi
