[tool.poetry]
name = "udata-hydra-csvapi"
version = "0.1.0.dev"
description = "API for CSV converted by udata-hydra"
authors = ["Etalab <opendatateam@data.gouv.fr>"]
license = "MIT"
readme = "README.md"
packages = [{include = "api_tabular"}]

[tool.poetry.dependencies]
python = "^3.9"
aiohttp = "^3.8.4"
toml = "^0.10.2"
sentry-sdk = "^1.25.1"


[tool.poetry.group.dev.dependencies]
aiohttp-devtools = "^1.0.post0"
flake8 = "^6.0.0"
pytest = "^7.2.1"
pytest-asyncio = "^0.20.3"
aioresponses = "^0.7.4"
bumpr = "^0.3.8"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
