[project]
name = "udata-hydra-csvapi"
version = "0.2.5.dev"
description = "API for CSV converted by udata-hydra"
authors = [
    {name = "data.gouv.fr", email = "opendatateam@data.gouv.fr"}
]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.11,<3.13"
dependencies = [
    "aiohttp>=3.8.4",
    "aiohttp-cors==0.7.0",
    "aiohttp-swagger==1.0.16",
    "sentry-sdk>=2.13.0",
]

[project.optional-dependencies]
dev = [
    "aiohttp-devtools>=1.0.post0",
    "aioresponses>=0.7.4",
    "bumpx>=0.3.10",
    "pytest>=7.2.1",
    "pytest-asyncio>=0.20.3",
    "pytest-mock>=3.14.0",
    "ruff>=0.6.5",
]

[tool.poetry]
packages = [
    { include = "api_tabular" }
]

[tool.ruff]
lint = { extend-select = ["I"], ignore = ["F401"] } # ["I"] is to also sort imports with an isort rule # TODO: remove ignore F401 later
line-length = 100

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
