[tool.poetry]
name = "udata-hydra-csvapi"
version = "0.2.2.dev"
description = "API for CSV converted by udata-hydra"
authors = ["data.gouv.fr <opendatateam@data.gouv.fr>"]
license = "MIT"
readme = "README.md"
packages = [{include = "api_tabular"}]

[tool.poetry.dependencies]
python = "^3.11"
aiohttp = "^3.8.4"
aiohttp-cors = "0.7.0"
aiohttp-swagger = "1.0.16"
sentry-sdk = "^2.13.0"

[tool.poetry.group.dev.dependencies]
aiohttp-devtools = "^1.0.post0"
aioresponses = "^0.7.4"
bumpx = "^0.3.10"
pytest = "^7.2.1"
pytest-asyncio = "^0.20.3"
pytest-mock = "^3.14.0"
ruff = "^0.6.5"

[tool.ruff]
lint = { extend-select = ["I"], ignore = ["F401"] } # ["I"] is to also sort imports with an isort rule # TODO: remove ignore F401 later
line-length = 100

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
