---
version: 2.1

parameters:
  python-version:
    type: string
    default: "3.11"
  python-module:
    type: string
    default: "api_tabular"
  publish-branch:
    type: string
    default: "master"
  cache-prefix:
    type: string
    default: "py-cache-v2"
  api-port:
    type: string
    default: "8005"

jobs:
  lint:
    docker:
      - image: acidrain/python-poetry:<< pipeline.parameters.python-version >>-alpine
    steps:
      - checkout
      - run:
          name: Install Python dev dependencies only with Poetry
          command: |
            poetry config virtualenvs.in-project true
            poetry install --no-root --extras "dev"
      - run:
          name: Lint and format code and sort imports
          # ruff check --select I . : check linting and imports sorting without fixing (to fix, use --fix)
          # ruff format --check . : check code formatting without fixing (to fix, remove --check)
          command: |
            poetry run ruff check --select I .
            poetry run ruff format --check .

  tests:
    machine:
      image: ubuntu-2204:current  # Machine executor needed to run Docker containers (PostgreSQL + PostgREST)
    steps:
      - checkout
      - run:
          name: Start containers
          command: |
            docker compose up -d
      - run:
          name: Wait for PostgreSQL to be ready
          command: |
            # Wait for PostgreSQL to be ready to accept connections
            timeout 60 bash -c 'until docker compose exec -T postgres-test pg_isready -U csvapi; do sleep 2; done'
      - run:
          name: Wait for PostgREST to be ready
          command: |
            # Wait for PostgREST to be ready
            timeout 30 bash -c 'until curl -f http://localhost:8080/ > /dev/null 2>&1; do sleep 2; done'
      - run:
          name: Install Python << pipeline.parameters.python-version >>, Poetry and dependencies
          command: |
            sudo add-apt-repository ppa:deadsnakes/ppa
            sudo apt-get update
            sudo apt-get install -y python<< pipeline.parameters.python-version >>
            curl -sSL https://install.python-poetry.org | python<< pipeline.parameters.python-version >> -
            /home/circleci/.local/bin/poetry config virtualenvs.in-project true
            /home/circleci/.local/bin/poetry install --extras "dev"
      - run:
          name: Start service
          command: |
            nohup /home/circleci/.local/bin/poetry run adev runserver -p<< pipeline.parameters.api-port >> api_tabular/app.py > server.log 2>&1 &
            sleep 5
      - run:
          name: Run tests
          command: |
            /home/circleci/.local/bin/poetry run pytest --junitxml=reports/python/tests.xml -p no:sugar --color=yes
      - store_test_results:
          path: reports/python

  build:
    docker:
      - image: acidrain/python-poetry:<< pipeline.parameters.python-version >>-alpine
    steps:
      - checkout
      - run:
          name: Install Python dependencies with Poetry
          command: |
            poetry config virtualenvs.in-project true
            poetry install --no-root
      - run:
          name: Set the version number
          command: |
            if [[ $CIRCLE_TAG ]]; then
                export PACKAGE_VERSION=$CIRCLE_TAG
            elif [[ $CIRCLE_BRANCH == << pipeline.parameters.publish-branch >> ]]; then
                # for main branches, can't add the commit hash since it's not a valid format for publishing
                export PACKAGE_VERSION=$(poetry version -s)$CIRCLE_BUILD_NUM
            else
                # for feature branches, add the commit hash
                export PACKAGE_VERSION=$(poetry version -s)$CIRCLE_BUILD_NUM+${CIRCLE_SHA1:0:7}
            fi
            # Display some debug info
            echo "Building a wheel release with version $PACKAGE_VERSION, build number: $CIRCLE_BUILD_NUM, commit hash: ${CIRCLE_SHA1:0:7}, tag: $CIRCLE_TAG."
            # Save the version number in a file
            echo "export PACKAGE_VERSION=\"$PACKAGE_VERSION\"" >> .env_vars
      - run:
          name: Build a distributable package
          command: |
            # Get the version number
            source .env_vars
            # Build a wheel release
            if [[ $CIRCLE_TAG ]]; then
                # This is a tagged release, version has been handled upstream
                poetry build
            else
                # Relies on a dev version like "1.2.1.dev" by default
                poetry version $PACKAGE_VERSION
                poetry build
            fi
      - store_artifacts:
          path: dist
      - persist_to_workspace:
          root: .
          paths:
            - .

  publish:
    docker:
      - image: acidrain/python-poetry:<< pipeline.parameters.python-version >>-alpine
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Publish on PyPI
          command: |
            poetry publish --username "${PYPI_USERNAME}" --password "${PYPI_PASSWORD}" --no-interaction

workflows:
  build-test-deploy:
    jobs:
      - lint:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - tests:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - build:
          requires:
            - tests
            - lint
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
      - publish:
          requires:
            - build
          filters:
            branches:
              only:
                - << pipeline.parameters.publish-branch >>
                - /[0-9]+(\.[0-9]+)+/
                - /rc[0-9]+/
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
          context: org-global